<h1>Purchases List</h1>

<p id="notice"><%= notice %></p>
<table>
	<tr>
		<th>Purchase ID</th>
		<th>Purchase Customer Name</th>
		<th>Purchase Products</th>
		<th>Purchase Total</th>
		<th>Purchase Price ($)</th>
		<th colspan="3">Available Actions</th>
	</tr>

	<% if !@purchases.blank? %>
		<% @purchases.each do |purchase| %>
			<tr>
				<td><%= purchase.id %></td>
				<td><%= purchase.customer.name.blank? ?  "Unnamed" : purchase.customer.name %></td>
				<td><%= purchase.products.all.map { |product| product.name }.join(", ") %></td>
				<td><%= purchase.total %></td>
				<td><%= link_to 'Show', purchase %></td>
				<td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	<% end %>

	<tr>
		<td><%= link_to "new purchase", new_purchase_path %></td>
		<td colspan="6">to create new purchase</td>
	</tr>
</table>

