<%= form_for(@customer) do |f| %>
	<% if @customer.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@customer.errors.count, "error") %> prohibited this product from being saved:</h2>

			<ul>
			<% @customer.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	<br>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
